// Place all the styles related to the canvas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.mind {
  padding: 8px;
  background-color: #9b6;
  border-radius: 5px;          /* CSS3草案 */  
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 5px;     /* Firefox用 */  
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-box-shadow: 3px 3px 3px #999;
  -moz-box-shadow: 3px 3px 3px #999;

  span.mind_name {
    float: left;
  }

  span.delete_button {
    float: right; 
  }
  div.mind_form {
    input {
      background-color: #9b6;
      font-size: 12pt;
      border: 0px;
    }
  }
}
